<html>
    <head>
        <title>John's blog</title>
    </head>
    <body>
        <div>
            <h1><a href>Johns Django Girls Blog</a></h1>
        </div>
        <div>
            <p>published 23/11/16</p>
            <h2><href="">My first post</a></h2>
            <p>blah blah blah</p>
        </div>
        <div>
            <p>published 23/11/16</p>
            <h2>My second post</h2
            <p>blether blether blah.....</p>
        </div>
    </body>
    <p>Hi there!</p>
    <p>It worketh!</p>
</html>